
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("./../pic/background_space.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.login-box
{
    position: relative;
    width: 450px;
    height: 465px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2
{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box input:focus~label,
.input-box input:valid~label,
.input-box input:hover~label
{
    top: -5%;
}

.input-box{
    position: relative;
    width: 310px;   
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}
 
.input-box label{
    position: absolute;
    top :50%;
    left: 5px;
    transform: translatey(-50%);
    color: #fff;
    pointer-events: none;
    transition: 0.5;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;   
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0px 30px 0px 5px;
    
}

.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}



.login-box button{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.login-link{
    font-size: .9m;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.login-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin: 0 0 0 3px;
}

.login-link p a:hover{
    text-decoration: underline;
}

