@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Mirza:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap");
/* Start Variables */
:root {
  --main-color: #1a1f4c;
  --secondary-color: hsl(0, 0%, 96%);
  --font-main: "Changa", sans-serif;
  --font-hader: "Badeen Display", sans-serif;
}
/* End Variables */
/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-main);
  background-color: var(--secondary-color);
  color: var(--main-color);
  
   position: relative;
}
/* end Global Rules */
/* Start background section */
.unvirsal-bakgroud{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/pic/bg2.jpg"); 
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: -1;
}
/* end background section */
/* Start navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.8);
  padding: 5px;
}

/* container داخل navbar */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}

/* الشعار */
.logo-img {
  width: 200px;
}

/* قائمة الروابط */
.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.nav-list li a {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.1s ease-in;
}
.nav-list li a:hover {
  color: var(--secondary-color);
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 15px;
}

/* زر التسجيل */
.btn_nav {
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

.btn_nav:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}
/* end navbar*/

/* Start hero section */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* اعداد الفديو الذي في الخلفية  */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
/* اعداد النص الموجد في البنر الرئيسي */
.hero-text {
  position: absolute;
  font-family: var(--font-hader);
  top: 54%;
  left: 20%;
  width: 500px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--secondary-color);
  font-size: 60px;
  z-index: 10;
  background: #1a1f4c75;
  backdrop-filter: blur(10px);
  border-radius: 20px;

  border: 1px solid var(--secondary-color);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.315);
}

/* ستايل  button المربع البنر  */
.contenar_hero a {
  position: absolute;
  width: 300px;
  bottom: 0;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  z-index: 10;
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-weight: 600;
  transition: all 0.3s linear;
  padding: 10px 20px;
  border-radius: 10px;
}
.contenar_hero a:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

/* end hero section */

/* Start product section */
.product {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px);
  overflow: hidden;
  display: flex;
  transition: all 0.3s linear;
}
/* الخلفية الاولى */
.bg-contenar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  background-color: #0b0d22;
  z-index: 0;
}
/* لخلفية الثانية */
.bg2_contenar {
  position: absolute;
  background-color: var(--main-color);
  width: calc(100vw - 90px);
  height: calc(100vh - 300px);
  padding: 30px;
  margin: 36px;
  border-radius: 20px;
  z-index: 1;
}

/* عنوان القسم */
.text-prod {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: var(--secondary-color);
  padding: 20px 40px;
  z-index: 4;
}
/* الصحن الطائر */
.ali-prod {
  position: absolute;
  width: 300px;
  rotate: 30deg;
  right: 0;
  z-index: 5;
}

/*  المنتجات */
.products {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: var(--secondary-color);
  width: 90%;
  top: 9%;
  right: 2%;
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
  z-index: 2;
  position: relative;
}

/* كرت المنتج */
.product1,
.product2,
.product3 {
  width: 300px;
  height: 400px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  position: relative;
  z-index: 3;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* تأثير hover */
.product1:hover,
.product2:hover,
.product3:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
  transform: scale(1.1);
}

/* صورة المنتج داخل الكرت */
.product1 img,
.product2 img,
.product3 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  z-index: 3;
}
.product2 img {
  position: relative;
  top: 0;
  left: 0;
  right: 25%;
}

/* نصوص وأزرار داخل كل منتج */
.product1 span,
.product2 span,
.product3 span {
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 5%;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}
.product1 span,
.product3 span {
  bottom: 12%;
}

.product1 a,
.product2 a,
.product3 a {
  display: inline-block;
  margin-top: 10px;
  background-color: rgb(19, 21, 43);
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: relative;
  bottom: 5%;
  right: 6%;
  font-size: 20px;
  font-weight: 600;
  width: calc(100% - 40px);
}
.product1 a,
.product3 a {
  bottom: 12%;
}

.product1 a:hover,
.product2 a:hover,
.product3 a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
/* end product section */
/* Start about section */
.about {
  position: relative;
  width: 100%;
  height: calc(100vh - 350px);
  overflow: hidden;
}
/* ترتيب العناصر داخل القسم */
.about-aline{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* العنوان الاول */
.about-aline h2{
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
    background-color: var(--main-color);
    margin-bottom: 20px;
}
/* الفقرة الاولى */
.pargrap-about{
    width: 80%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: var(--secondary-color);
}
/* تضبيط الكروت */
.card_about{
    width: 80%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* الكروت حق المعلومات */
.card1-a,.card2-a,.card3-a{
    position: relative;
    bottom: 0;
    width: 500px;
    padding: 20px;
    margin: 20px;
    color: var(--secondary-color);
    font-size: 17px;
    background: #1a1f4c75;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.315);
    transition: all 0.3s linear;
}
.card1-a:hover,.card2-a:hover,.card3-a:hover{
  font-weight: 800;
    background-color: var(--secondary-color);
    color: var(--main-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}
/* الصحن الطائر */
.ali-about{
    position: absolute;
    width: 200px;
    left: 6%;
    top: 55%;
    rotate: 340deg;
    z-index: 5;
}
/* end about section */

/* Start coustmar section */
.coustmer {
    position: relative;
    width: 100%;
    height: calc(100vh - 350px);
    overflow: hidden;
  }
  /* ترتيب العناصر داخل القسم */
  .coustmer-aline{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  /* العنوان الاول */
  .coustmer-aline h3{
      width: 100%;
      text-align: center;
      font-size: 60px;
      font-weight: 600;
      color: var(--secondary-color);
      background-color: var(--main-color);
      margin-bottom: 20px;
  }
  /* الفقرة الاولى */
  .pargrap-coustmer{
      width: 80%;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      color: var(--secondary-color);
  }
  /* تضبيط الكروت */
  .card_coustmer{
      width: 80%;
      height: 300px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }
  /* الكروت حق العملاء */
  .card1-c,.card2-c,.card3-c{
      position: relative;
      bottom: 0;
      width: 500px;
      padding: 20px;
      margin: 20px;
      color: var(--secondary-color);
      font-size: 17px;
      background: #1a1f4c75;
      backdrop-filter: blur(10px);
      border-radius: 20px;
      border: 1px solid var(--secondary-color);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.315);
      transition: all 0.3s linear;
      display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  }
  .card1-c:hover,.card2-c:hover,.card3-c:hover{
    font-weight: 800;
      background-color: var(--secondary-color);
      color: var(--main-color);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
      transform: scale(1.1);
  }

  /*end coustmar section */
  /* Start sign section */
.sign-section{
    position: relative;
    width: 100%;
    height: calc(100vh - 350px);
    overflow: hidden;
}
/* ترتيب العناصر داخل القسم */
.sign-header{
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
    background-color: var(--main-color);
    margin-bottom: 20px;
}
/* ترتيب عناصر البوكس */
.sign-sec{
    width: 80%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
gap: 20px;
    color: var(--main-color);
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;

}
/* البوكس حق التسجيل */
.sign-sec input{
    width: 20%;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    background-color: var(--secondary-color);
}

/* البوكس حق الزر */
.sign-sec a{
    width: 10%;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
    background-color: var(--main-color);
    transition: all 0.3s linear;
}
.sign-sec a:hover{
    background-color: var(--secondary-color);
    color: var(--main-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

/* end sign section */

/* Start footer section */
/* ترتيب العناصر داخل الفوتر */
.container-footer{
  width: 100%;
  height: 200px;
  padding: 20px;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  background-color: var(--secondary-color);
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 5;
}
.footer-list{
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-list li a{
  color: var(--main-color);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.1s ease-in;
}
.footer-list li a:hover {
  color: var(--secondary-color);
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 15px;
}

/* end footer section */
